Flask>=3.0.0
gunicorn>=21.2.0
scikit-learn==1.6.1
pandas>=2.0.0
numpy>=1.26.0
joblib>=1.4.0
python-dotenv>=1.0.0
llama-index-core
llama-index-embeddings-huggingface
llama-index-llms-openai-like
chromadb
